body {
    color: #40718d;
}

ul {
    list-style-type: none;
}

li > p {
    margin: 0;
}

.App {
    text-align: left;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #073854;
    padding: 20px;
    color: white;
    text-align: center;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    margin-top: 10px;
    font-size: large;
    text-align: center;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.btn-primary {
    color: #fff;
    background-color: #073854;
    border-color: #073854;
}

.btn-secondary {
    color: #fff;
    background-color: #073854;
    border-color: #073854;
}

.btn-secondary:not([disabled]):not(.disabled):active,
.btn-secondary:not([disabled]):not(.disabled):hover,
.btn-secondary:not([disabled]):not(.disabled):focus {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}